.button1{
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  width: 295px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background: #E83F5B;
  font-size: 1.8rem;
}

.button2{  
  margin-top: 5px;
  margin-bottom: 5px;
  width: 295px;
  height: 60px;
  border-radius: 5px;
  border: solid 1px #585666;
  background: white;
  font-size: 1.8rem;
}